pyyaml==6.0.2
psutil==5.7.2
ray==2.3.0
ray[tune]
pandas==2.0.3
matplotlib==3.4.3
shapely==2.0.6
cairocffi==1.2.0
igraph==0.11.6
pymoo==0.6.1.1
gpytorch==1.5.1
botorch==0.5.1
pypop7==0.0.82
wandb==0.17.0
torch==2.1.0+cu121
torchelastic==0.2.1
torchvision==0.16.0+cu121
torchaudio==2.1.0+cu121